appdirs==1.4.4
attrs==21.2.0
black==21.5b1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
dataclasses-json==0.5.3
easyargs==0.9.4
filelock==3.0.12
flake8==3.9.2
idna==3.1
iniconfig==1.1.1
marshmallow==3.12.1
marshmallow-enum==1.5.1
mccabe==0.6.1
mypy-extensions==0.4.3
packaging==20.9
pathspec==0.8.1
pluggy==0.13.1
py==1.10.0
py-cpuinfo==8.0.0
pycodestyle==2.7.0
pyee==8.1.0
pyflakes==2.3.1
pyparsing==2.4.7
pyppeteer==0.2.5
pytest==6.2.4
pytest-asyncio==0.15.1
pytest-benchmark==3.4.1
regex==2021.4.4
requests==2.25.1
requests-file==1.5.1
six==1.16.0
stringcase==1.2.0
tldextract==3.1.0
toml==0.10.2
tqdm==4.60.0
typing-extensions==3.10.0.0
typing-inspect==0.6.0
urllib3==1.26.4
websockets==8.1
git+https://github.com/pyppeteer/pyppeteer@46f04c66c109353e08d873a1019df1cf4dac9dea